*{
    margin: 0;
    padding: 0;
}
.logo img{
    height: 100px;
    width: 100px;
    border-radius: 80%;
    left: 4%;
    transform: translate(-50%,-50%);
    position: relative;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7));
    background-image: url(3183114.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    cursor: pointer;   
}
ul{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
ul li{
    margin-left: 60px;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a:hover{
    color: #fff;
    transition: 2s ease;

}
ul li a:active{
    color: blue;
}
h1{
    top: 38%;
    left: 38%;
    transform: translate(-50,-50);
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0.6);
}
h2{
    top: 44%;
    left: 40%;
    transform: translate(-50,50);
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0.6);
}
p{
    top: 51%;
    left: 10%;
    transform: translate(-50,-50);
    position: absolute;
    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(0, 0, -1);
}
p a{
    margin-left: 450px;
    background-color: rgb(0, 0, 0.6);
    font-size: italic;
}
@media(max-width:700px){
    .media h1{
        top: 38%;
        left: 38%;
        transform: translate(-50,-50);
        position: absolute;
        color: white;
        background-color: rgb(0, 0, 0.6);
    }
    .media h2{
        top: 44%;
        left: 40%;
        transform: translate(-50,50);
        position: absolute;
        color: white;
        background-color: rgb(0, 0, 0.6);
    }
    .media p{
        top: 51%;
        left: 10%;
        transform: translate(-50,-50);
        position: absolute;
        color: white;
        font-size: large;
        font-weight: bold;
        background-color: rgb(0, 0, -1);
    }
    p a{
        margin-left: 450px;
        background-color: rgb(0, 0, 0.6);
        font-size: italic;
    }


}